<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="static\css\Diseases.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>P-A Diseases</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</head>
<body>
    <div id="sectionDiseases">
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
            <div class="d-flex flex-row">
                <a class="navbar-brand" href="/">
                    <img class="navbar-image" src="https://res.cloudinary.com/dtbikpook/image/upload/v1658880499/Screenshot_2022-07-27_053719_ieunlr.png">
                </a>
                <a class="navbar-brand mt-1" href="/">
                    <p class="main-heading-pa-info">Predictive_analysis</p>
                </a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ml-auto">
                    <a class="nav-link active text-white pb-3 txt-prop" href="/">Home<span class="sr-only">(current)</span></a>
                    <a class="nav-link text-white pb-3 txt-prop" href="whatpdis">Predictive_analysis?</a>
                    <a class="nav-link text-white pb-3 txt-prop" href="Diseases">Diseases_Info</a>
                    <a class="nav-link text-white pb-3 txt-prop" href="feedback">Feedback</a>
                </div>
            </div>
        </nav>
        <br><br><br><br>
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-7">
                    <h2><u>Anemia</u></h2>
                    <p class="parahome">Anemia is defined as a decrease in the number of red blood cells (RBCs) or hemoglobin in the blood [2], which
                        not only adversely affects economic and social development, but also causes serious adverse health effects. The
                        most reliable indicator of anemia is hemoglobin concentration in the blood, but there are several factors that
                        can cause anemia. B. Iron deficiency, HIV, malaria, chronic infections such as tuberculosis, vitamin deficiency, z.
                        Vitamin B12 and A, cancers, and acquired diseases that affect red blood cell production and hemoglobin
                        synthesis</p>
                    <p class="parahome">
                        According to the World Health
                        Organization (WHO), the mortality rate of mothers and newborns in developing countries in 2013 was 3
                        million. Prediction of anemia disease plays a very important role in detecting other related diseases. Anemia
                        disorders are categorized based on morphology or root cause 
                    </p>
                </div>
                <div class="col-12 col-sm-12 col-md-5">
                    <img class="image_anemia" src="https://www.calmclinic.com/storage/images/299/qoy3oo/main/w1600.webp">
                </div>
                <div class="col">
                    <br>
                    <h5>Anemia is divided into three types based on morphology:</h5>
                    <ul>
                        <li>normocytic</li>
                        <li>microcytic</li>
                        <li>macrocytic</li>
                    </ul>
                    <h5>Anemia is classified into three types depending on the cause:</h5> 
                    <ul>
                        <li>blood loss</li>
                        <li>Insufficient production of normal blood</li>
                        <li>excessive destruction of blood cells.</li>
                    </ul>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-12 col-sm-12 col-md-7">
                    <h2><u>PCOS</u></h2>
                    <p class="parahome">
                        Polycystic Ovary Syndrome (PCOS) is a medical condition which causes hormonal disorder in women in their childbearing years. The hormonal imbalance leads to a delayed or even absent menstrual cycle. Women with PCOS majorly suffer from excessive weight gain, facial hair growth, acne, hair loss, skin darkening and irregular periods leading to infertility in rare cases. 
                    </p>
                    <p class="parahome">
                        The existing methodologies and treatments are insufficient for early-stage detection and prediction. To deal with this problem, we propose a system which can help in early detection and prediction of PCOS treatment from an optimal and minimal set of parameters. 
                    </p>
                </div>
                <div class="col-12 col-sm-12 col-md-5">
                    <img class="image_anemia" src="https://images.squarespace-cdn.com/content/v1/5c319e0d25bf02353683db93/1569122356785-6OQQWNF7MXNEXKATQHHZ/What+is+PCOS?format=500w">
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-12 col-sm-12 col-md-7">
                    <h2><u>Heart Attack</u></h2>
                    <p class="parahome">
                        Heart disease is the major cause of morbidity and mortality globally: it accounts for more deaths annually than any other cause. According to the WHO, an estimated 17.9 million people died from heart disease in 2016, representing 31% of all global deaths. Over three quarters of these deaths took place in low- and middle-income countries.
                    </p>
                    <p class="parahome">
                        Doctors and scientists alike have turned to machine learning (ML) techniques to develop screening tools and this is because of their superiority in pattern recognition and classification as compared to other traditional statistical approaches.
                    </p>
                </div>
                <div class="col-12 col-sm-12 col-md-5">
                    <img class="image_anemia1" src="https://www.heart.org/-/media/Images/Health-Topics/Heart-Attack/Common_Heart_Attack_Warning_Signs_infographic_550w.jpg">
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-12 col-sm-12 col-md-7">
                    <h2><u>Thyroid Detection</u></h2>
                    <p class="parahome">
                        The Thyroid gland is a vascular gland and one of the most important organs of a human body. This gland secretes two hormones which help in controlling the metabolism of the body. The two types of Thyroid disorders are Hyperthyroidism and Hypothyroidism. When this disorder occurs in the body, they release certain type of hormones into the body which imbalances the body’s metabolism. Thyroid related Blood test is used to detect this disease but it is often blurred and noise will be present.
                    </p>
                    <p class="parahome">
                        Data cleansing methods were used to make the data primitive enough for the analytics to show the risk of patients getting this disease. Machine Learning plays a very deciding role in the disease prediction. Machine Learning algorithms, SVM - support vector machine, decision tree, logistic regression, KNN - K-nearest neighbours, ANNArtificial Neural Network are used to predict the patient’s risk of getting thyroid disease. Web app is created to get data from users to predict the type of disease.
                    </p>
                </div>
                <div class="col-12 col-sm-12 col-md-5">
                    <img class="image_anemia1" src="https://www.amymyersmd.com/wp-content/uploads/2021/05/Article_What-You-Need-Know-Thyroid_202105-B-1024x1024.jpg">
                </div>
            </div>
        </div>
    </div>
</body>
</html>