<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="static\css\predicitive_analysis.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>predicitive_analysis</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</head>

<body>
    <div id="sectionHome">
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
            <div class="d-flex flex-row">
                <a class="navbar-brand" href="/">
                    <img class="navbar-image" src="https://res.cloudinary.com/dtbikpook/image/upload/v1658880499/Screenshot_2022-07-27_053719_ieunlr.png">
                </a>
                <a class="navbar-brand mt-1" href="/">
                    <p class="main-heading-pa-info">Predictive_analysis</p>
                </a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ml-auto">
                    <a class="nav-link active text-white pb-3 txt-prop" href="/">Home<span class="sr-only">(current)</span></a>
                    <a class="nav-link text-white pb-3 txt-prop" href="whatpdis">Predictive_analysis?</a>
                    <a class="nav-link text-white pb-3 txt-prop" href="Diseases">Diseases_Info</a>
                    <a class="nav-link text-white pb-3 txt-prop" href="feedback">Feedback</a>
                </div>
            </div>
        </nav>
        <br>
        <br>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-7 col-md-6 col-lg-6 col-xl-5">
                    <h1 class="Home-heading mt-3"><u>what is predicitive Analytics?</u></h1>
                    <p class="parahome">Predictive analytics is a branch of advanced analytics that makes predictions about future outcomes using historical data combined with statistical modeling, data mining techniques and machine learning.</p>
                </div>
                <div class="col-sm-5 col-md-6 col-lg-6 col-xl-4 d-flex flex-row justify-content-center mr-auto">
                    <img class="imagepd" src="https://i.ibb.co/MNJ9RPt/Whats-App-Image-2022-05-23-at-11-21-15-AM.jpg">
                </div>
            </div>
        </div>
        <br>
        <hr style="height:5px">>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-xl-10">
                    <h1 class="Diseases_info_related_heading">Given Below Diseases can be predicted by our project:</h1>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-5 col-xl-5 mb-2 image-button">
                    <img class="image_anemia" src="https://img.freepik.com/free-photo/hand-holding-blood-glucose-meter-measuring-blood-sugar-background-is-stethoscope-chart-file_1387-942.jpg?w=1060&t=st=1659060403~exp=1659061003~hmac=53388b57b977fff593620c362cd40ef3bb8ac9a7eb15ac00c80a82b934d2c82c">
                    <br>
                    <a href="Diabetes">
                        <br>
                        <button>Diabetes(click here)</button>
                    </a>
                </div>
                <div class="col-12 col-md-6 col-lg-5 col-xl-5 mb-2 image-button">
                    <img class="image_anemia" src="https://images.squarespace-cdn.com/content/v1/5c319e0d25bf02353683db93/1569122403100-ZAIVQ0YC8E702MOUQJG1/shutterstock_1035434050-1-e1532966569521.jpg?format=500w">
                    <br>
                    <br>
                    <button>PCOS(current not working)</button>
                </div>
                <div class="col-12 col-md-6 mb-2 col-lg-5 col-xl-5 image-button">
                    <img class="image_anemia" src="https://upload.wikimedia.org/wikipedia/commons/f/f4/A_man_having_a_Heart_Attack.png">
                    <br>
                    <br>
                    <button>Heart AttackPCOS(current not working)</button>
                </div>
                <div class="col-12 col-md-6 mb-2 col-lg-5 col-xl-5 image-button">
                    <img class="image_anemia" src="https://www.medishare.com/hs-fs/hubfs/Medishare%20Blog%20Assets/Thyroid%20disorders.jpg?width=876&name=Thyroid%20disorders.jpg">
                    <br>
                    <br>
                    <button>Thyroid DisfunctionPCOS(current not working)</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>