<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="static\css\sub.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submit Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
        <div class="d-flex flex-row">
            <a class="navbar-brand" href="/">
                <img class="navbar-image" src="https://res.cloudinary.com/dtbikpook/image/upload/v1658880499/Screenshot_2022-07-27_053719_ieunlr.png">
            </a>
            <a class="navbar-brand mt-1" href="/">
                <p class="main-heading-pa-info">Predictive_analysis</p>
            </a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ml-auto">
                <a class="nav-link active text-white pb-3 txt-prop" href="/">Home<span class="sr-only">(current)</span></a>
                <a class="nav-link text-white pb-3 txt-prop" href="whatpdis">Predictive_analysis?</a>
                <a class="nav-link text-white pb-3 txt-prop" href="Diseases">Diseases_Info</a>
                <a class="nav-link text-white pb-3 txt-prop" href="feedback">Feedback</a>
            </div>
        </div>
    </nav>
    <br><br><br><br>
    <div class="col-11 d-flex flex-row justify-content-center">
        <h3><u>Summary of Diabetes Prediction is below:</u></h3>
    </div>
    <div class="container d-flex flex-row justify-content-center">
        <br><br>
        <div class="row mt-2 d-flex flex-row justify-content-center">
            <div class="col-11 col-sm-9 col-md-7">
                <table>
                    <tr>
                        <th>Data name:</th>
                        <th>Entered Value:</th>
                      </tr>
                    <tr>
                        <td>pregnancy month:</td>
                        <td>{{a1}}</td>
                    </tr>    
                    <tr>
                        <td>Glucose level:</td>
                        <td>{{b1}}</td>
                    </tr>
                    <tr>
                        <td>BloodPressure:</td>
                        <td>{{c1}}</td>
                    </tr>
                    <tr>
                        <td>SkinThickness:</td>
                        <td>{{d1}}</td>
                    </tr>
                    <tr>
                        <td>Insulin:</td>
                        <td>{{e1}}</td>
                    </tr>
                    <tr>
                        <td>BMI:</td>
                        <td>{{f1}}</td>
                    </tr>
                    <tr>
                        <td>DiabetesPedigreeFunction:</td>
                        <td>{{g1}}</td>
                    </tr>
                    <tr>
                        <td>Age:</td>
                        <td>{{h1}}</td>
                    </tr>
                </table>
            </div>
            <div class="col-12 col-sm-9 col-md-7 mt-3">
                <h3>The Predicted value is :{{n}}</h3>
                <div class="bg-warning box-prop">
                    <h4>Note:</h4>
                    <h6>Result May not be 100% accurate</h6>
                    <h6>If your Prediction Went wrong <br>please mail your input details<br>So we will improve the model</h6>
                    <br>
                </div>
                <div class="m-2 p-2">
                    <a href="/Diabetes">
                        <button class="bg-success text-white">Back</button>
                    </a>
                </div>
            <div>
                
        </div>
    </div>
</body>
</html>