<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="static\css\whatpdis.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Predictive_analysis?</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</head>

<body>
    <div id="sectionWhatpdis">
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
            <div class="d-flex flex-row">
                <a class="navbar-brand" href="/">
                    <img class="navbar-image" src="https://res.cloudinary.com/dtbikpook/image/upload/v1658880499/Screenshot_2022-07-27_053719_ieunlr.png">
                </a>
                <a class="navbar-brand mt-1" href="/">
                    <p class="main-heading-pa-info">Predictive_analysis</p>
                </a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ml-auto">
                    <a class="nav-link active text-white pb-3 txt-prop" href="/">Home<span class="sr-only">(current)</span></a>
                    <a class="nav-link text-white pb-3 txt-prop" href="whatpdis">Predictive_analysis?</a>
                    <a class="nav-link text-white pb-3 txt-prop" href="Diseases">Diseases_Info</a>
                    <a class="nav-link text-white pb-3 txt-prop" href="feedback">Feedback</a>
                </div>
            </div>
        </nav>
        <br><br><br><br>
        <div class="container">
            <div class="row">
                <div class="col-10 col-sm-11 col-md-10">
                    <h1 class="important-pd-heading">Why Is Predicitive Analytics Important?</h1>
                    <p>While organizations have recognized the importance of gathering data as a means of looking back on industry trends for years, business teams have only just started scratching the surface of possibility when it comes to predictive analytics.</p>
                    <p>“Analytics is getting exciting in every industry because we’re [more] equipped than ever to…use the data in the back room that has been gathering dust…to make better business decisions,” Goulding says.</p>
                    <p>From insurance to retail to healthcare, organizations are starting to adapt to this model of informed decision-making and are using it to their advantage:</p>
                    <ul>
                        <li>
                            <p>Today, insurance companies can predict if a new client is a risk based on their age, history, health conditions, etc. They can weigh this data and make an informed decision about whether or not they want to cover that individual.</p>
                        </li>
                        <li>
                            <p>Retail organizations can predict how new brands or items might sell in their local market based on consumer demographics. They can then make strategic decisions about how much product to stock.</p>
                        </li>
                        <li>
                            <p>Doctors can use predictive data to help determine not only what ailment someone’s conditions point to but also their chances of survival, whether or not they need immediate surgery, and their condition’s expected decline over a certain period of time.</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-11 col-md-10">
                    <h1 class="important-pd-heading">Types of Predictive Models</h1>
                    <ol>
                        <li>
                            <h4 class="algorithms-names">Linear Regression</h4>
                        </li>
                        <p>Linear regression is one of the method that considers all the known data points on a graph and creates a straight line that travels through the center of those data points. This line represents the smallest possible distance between all the points on the graph. A linear regression mathematical modeling tool can then base predictions about nonexistent data off of the relationship between this line and the existing data points.</p>
                        <img class="image_anemia col-12 col-lg-6 col-xl-6" src="https://images.saymedia-content.com/.image/t_share/MTc0MjM1NjgwNzExNzgwMjIw/how-to-create-a-simple-linear-regression-equation.png">
                        <br><br>
                        <li>
                            <h4 class="algorithms-names">Logistic regression</h4>
                        </li>
                        <p>Logistic regression is a process of modeling the probability of a discrete outcome given an input variable. The most common logistic regression models a binary outcome; something that can take two values such as true/false, yes/no, and so on. Multinomial logistic regression can model scenarios where there are more than two possible discrete outcomes. Logistic regression is a useful analysis method for classification problems, where you are trying to determine if a new sample fits best into a category. As aspects of cyber security are classification problems, such as attack detection, logistic regression is a useful analytic technique.</p>
                        <img class="image_anemia col-12 col-lg-6 col-xl-6" src="https://ars.els-cdn.com/content/image/3-s2.0-B9780128219294000044-f05-17-9780128219294.jpg">
                        <br><br><br>
                        <li>
                            <h4 class="algorithms-names">Clustering Models</h4>
                        </li>
                        <ul>
                            <li>K-Means</li>
                            <li>Hierarchical Clustering</li>
                            <li>TwoStep</li>
                            <li>Density-Based Scan Clustering</li>
                            <li>Gaussian Clustering Model</li>
                            <li>Kohonen</li>
                        </ul>
                        <br>
                        <li>
                            <h4 class="algorithms-names">Neural Networks</h4>
                        </li>
                        <p>Neural networks are complex algorithms inspired by the structure of the human brain. They process historical and current data and identify complex relationships within the data to predict the future, similar to how the human brain can spot trends and patterns.</p>
                        <p>A typical neural network is composed of artificial neurons, called units, arranged in different layers. The neural network uses input units to learn about and process data. On the other hand, output units are on the opposite side and outline how the neural network should respond to the input units. Between the two are hidden layers, which are layers of mathematical functions that produce a specific output.</p>
                        <h5 class="algorithms-names">Real World Example</h5>
                        <p>If an e-commerce retailer wants to accurately predict which products its customers are likely to consider purchasing in the future, a data analyst or data scientist might use neural networks to inform the company’s product recommendation algorithm. The analyst will pull purchase data and feed it to the neural network, giving the network real examples to learn from. This data will travel through the neural network through various mathematical functions until the output is produced and a product recommendation populates.</p>
                        <li>
                            <h4 class="algorithms-names">Other Common Predictive Models</h4>
                            <ul>
                                <li>Decision trees</li>
                                <li>Random Forests</li>
                                <li>Bayesian methods</li>
                            </ul>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</body>

</html>